

.product_attributes,
.box-cart-bottom {
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  padding: 19px 19px 17px; }
  
  .box-cart-bottom {
  padding: 0; }
  
  #product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
        right: 0;
        left: 0; }
		
		#product.content_only div.primary_block div.pb-right-column .box-cart-bottom {
      -moz-box-shadow: transparent 0px 0px 0px;
      -webkit-box-shadow: transparent 0px 0px 0px;
      box-shadow: transparent 0px 0px 0px; }
	  
	  
	  #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive {
        display: block;
        width: 100%; }
        #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:before, #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:after {
          display: block; }
        #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
          font-size: 20px;
          text-align: center; }
          @media (max-width: 1199px) {
            #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
              padding: 12px 22px 14px 70px;
              font-size: 20px; } }