# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore

# track readme.md in the root (i.e. do NOT ignore it)
!readme.md

# ignore all files that start with ~
~*

### Vagrant ###
.vagrant/
src/vm_build.log
src/vm_build_clean.log

# Prestashop dowloaded zip & unzip file

src/public/prestashop/
src/public/prestashop_*.zip

# Directories content
src/public/throwback16/cache/class_index.php
src/public/throwback16/cache/smarty/cache/*
!src/public/throwback16/cache/smarty/cache/index.php
src/public/throwback16/cache/smarty/compile/*
!src/public/throwback16/cache/smarty/compile/index.php
src/public/throwback16/cache/tcpdf/*
!src/public/throwback16/cache/tcpdf/index.php

config/xml/*.xml
config/settings.inc.php

log/*.log

src/public/throwback16/tools/smarty*/cache/*.php
!src/public/throwback16/tools/smarty*/cache/index.php
src/public/throwback16/tools/smarty*/compile/*.php
!src/public/throwback16/tools/smarty*/compile/index.php


src/public/throwback16/themes/*/cache/*.js
src/public/throwback16/themes/*/cache/*.css


src/public/throwback16/modules/*/config*.xml


# Ignore files on root directory
src/public/throwback16/robots.txt
src/public/throwback16/sitemap.xml

