/************************************************************
  		Responsive blog
************************************************************/

.single #main{
    margin-top: 130px;
}

@media (min-width: 280px) and (max-width: 359px) {

	.footer-container #footer #social_block{
		left: 100px !important;
	} 

}

@media (min-width: 360px) and (max-width: 479px) {

	.footer-container #footer #social_block{
		left: 120px !important;
	} 

}
#languages-block-top div.current:after,
#languages-block-top .flag_img {
	display: none
}
header .nav {
	height: 35px;
}


@media (min-width: 280px) and (max-width: 479px) {

	#header_logo{
		 margin-top: -70px !important;
	}

	#searchform-header{
		top:112px;
	}
	.searchform{
		height: 32px;
	}
	.toggle_menu_mobile{
		margin-top: -5px;	
	}

	article.hentry {
		margin-top: 30px !important;
	}

	.entry-content{
		margin-top: 120px;
	}

	.content-search.pad-container {
		margin-top: -90px;
	}
	.seriousslider{
		margin: 150px 0 20px 0;
	}

	.single #main{
		margin-top: 110px;
	}

	.lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box {
        max-height: 200px;
    }
    .lp-boxes-1 .lp-box .lp-box-image{
    	height: auto;
    }
}

@media (min-width: 480px) and (max-width: 767px) {

	#header_logo{
		 margin-top: -85px !important;
	}

	#searchform-header{
		top:100px;
	}
	.searchform{
		height: 30px;
	}

	#social_block {
        right: 0 !important;
        position: relative !important;
        top: 0 !important;
       	left: 40%;
    }  
    #block_various_links_footer{
    	 text-align: center;
    }

    .content-search.pad-container {
		margin-top: -85px;
	}
	.seriousslider{
		margin: 100px 0 20px 0;
	}

	.single #main{
		margin-top: 110px;
	}

	.lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box {
        max-height: 300px;
    }
    .lp-boxes-1 .lp-box .lp-box-image{
    	height: auto;
    }
}

@media (min-width: 480px) and (max-width: 599px) {

	article.hentry{
		margin-top: 30px !important;
	}

	.entry-content{
		margin-top: 100px;
	}

}

@media (min-width: 600px) and (max-width: 767px) {
	
	 article.hentry{
		margin-top: 30px !important;
	}

	.entry-content{
		margin-top: 50px;
	}

	.lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box {
        max-height: 300px;
    }
    .lp-boxes-1 .lp-box .lp-box-image{
    	height: auto;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

	header #header_logo{
		 margin-top: -87px !important;
	}
	#header_logo .logo-throwback {
    	margin-right: 42.75% !important;
	}
	#searchform-header{
		top:125px;
	}
	.searchform{
		height: auto;
	}

	 article.hentry{
		margin-top: 50px !important;
	}

	.entry-content{
		margin-top: 50px;
	}

	.content-search.pad-container {
		margin-top: -60px;
		z-index: -1000;
	}

	
  .lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box {
        max-height: 300px;
    }
    .lp-boxes-1 .lp-box .lp-box-image{
    	height: auto;
    }
    .seriousslider{
		margin: 150px 0 20px 0;
	}

	.single #main{
		margin-top: 160px;
	}
} 

@media (min-width: 992px) and (max-width: 1199px) {

	header .row #header_logo{
		 margin-top: -76.5px !important;
	}

	.lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box {
        max-height: 300px;
    }
    .lp-boxes-1 .lp-box .lp-box-image{
    	height: auto;
    }
}

@media (max-width: 360px) {
	.nav-previous {
		right: 0 !important;
		left: 0 !important;
	}

	.accueil {
		bottom: 0px !important;
	}

}

@media (max-width: 479px) {

	.footer-container #footer #social_block{
		position: relative !important;
		top:0 !important;
		margin-top: 10px !important;
	}
}

/*
@media (max-width: 599px) {
	.single #main{
		margin-top: 160px;
	}  
} 
*/

@media (max-width: 991px) {
	body {
    	overflow-x: hidden;
    	width: 100%;
	}

	header {
    	position: fixed !important;
	}

	#header_logo{
		float: left;
	}
	
	#searchform-header{
		position: fixed; 
		left: 50px; 
		right: 50px; 
		width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
	/*
	.single #main{
		margin-top: 100px;
	}
	*/
	#user_info{
		display: none;
	}

	.menu_vertical_mobile, #search_block_top, .header_user_info, #mobil_blockcart{
		border-right : none;
	}

	.content-search.pad-container {
    	margin-left: 0 !important;
		padding: 0 !important;
   		padding-bottom: 0 !important;
    	padding-top: 30px !important;
		position: absolute !important;
	}

	.search .header-container , .single .header-container{
		margin-top: -45px;
	}

	#breadcrumbs-container , .content-search.no-results .searchform{
		display: none;
	}

	.search  #content-masonry {
		margin-top: 110px;
	}

	.search  .entry-summary p{
		display: none;
	}
	.entry-title{
		font-size: 20px !important;
	}

}

@media (min-width: 992px) {
	.search #container.one-column{
		margin-top: 0px;	
	}
	.content-search.pad-container {
   	 margin-top: 110px;
	}
	.seriousslider{
		margin: 150px 0 20px 0;
	}
}

.toggle_menu_mobile, #search_block_top_mobile{
	display: none !important;
}
.content-search.pad-container {
		box-shadow: none !important;
}

.country-selector{
	position: fixed;
    left: 80%;
    top: -5px;
}

/******* page 404 ***************/
.error404 .not_found{
	text-align: center;
}

.error404 .not_found .main{
	margin-top: 120px;
}

.error404 .not_found .searchform {
	display: inline-block;
    text-align: center;
}
.s { 
	margin-left: 50px !important;
}
header.error404{
	position: relative !important;
}
.search-no-results .no-results{
	margin-top: 60px !important;
}