/************************************************************
  		Responsive blog
************************************************************/

@media (min-width: 280px) and (max-width: 359px) {

	.footer-container #footer #social_block{
		left: 100px !important;
	} 

}

@media (min-width: 360px) and (max-width: 479px) {

	.footer-container #footer #social_block{
		left: 120px !important;
	} 

}

@media (min-width: 280px) and (max-width: 479px) {

	#header_logo{
		 margin-top: -70px !important;
	}

	#searchform-header{
		top:113px;
	}
	.searchform{
		height: 33px;
	}
	.toggle_menu_mobile{
		margin-top: -5px;	
	}

	.has-post-thumbnail{
		margin-top: 180px;
	}

	.entry-content{
		margin-top: 120px;
	}

	.content-search.pad-container {
		margin-top: -90px;
	}
	
}

@media (min-width: 480px) and (max-width: 767px) {

	#header_logo{
		 margin-top: -60px !important;
	}

	#searchform-header{
		top:110px;
	}
	.searchform{
		height: 40px;
	}

	#social_block {
        right: 0 !important;
        position: relative !important;
        top: 0 !important;
       	left: 40%;
    }  
    #block_various_links_footer{
    	 text-align: center;
    }

    .content-search.pad-container {
		margin-top: -85px;
	}

}

@media (min-width: 480px) and (max-width: 599px) {

	.has-post-thumbnail{
		margin-top: 200px;
	}

	.entry-content{
		margin-top: 100px;
	}

	.lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box.box1{
		/*margin-top: 60px;*/
	}
}

@media (min-width: 600px) and (max-width: 767px) {
	
	 .has-post-thumbnail{
		margin-top: 200px;
	}

	.entry-content{
		margin-top: 50px;
	}

	.lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box.box1{
		/*margin-top: 60px;*/
	}

	.lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box {
        height: 300px;
    }

}


@media (min-width: 768px) and (max-width: 991px) {

	header #header_logo{
		 margin-top: -87px !important;
	}
	#header_logo .logo-throwback {
    	margin-right: 42.75% !important;
	}
	#searchform-header{
		top:125px;
	}
	.searchform{
		height: auto;
	}

	 .has-post-thumbnail{
		margin-top: 200px;
	}

	.entry-content{
		margin-top: 50px;
	}

	.content-search.pad-container {
		margin-top: -60px;
		z-index: -1000;
	}
	.entry-title{
		font-size: 20px !important;
	}

	.lp-boxes.lp-boxes-rows-2 .lp-box:nth-child(2n+1) {
    margin-left: 10px;
  }
  .lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box {
        height: 300px;
    }
} 

@media (min-width: 992px) and (max-width: 1199px) {

	header .row #header_logo{
		 margin-top: -76.5px !important;
	}

}

@media (max-width: 360px) {
	.nav-previous {
		right: 0 !important;
		left: 0 !important;
	}

	.accueil {
		bottom: 0px !important;
	}

}

@media (max-width: 479px) {

	.footer-container #footer #social_block{
		position: relative !important;
		top:0 !important;
		margin-top: 10px !important;
	} 

	.lp-boxes.lp-boxes-rows-2 .lp-boxes-margins .lp-box.box1 {
			/*margin-top: 5% !important;*/
		} 

}

@media (max-width: 599px) {
	#main{
		/*margin-top: 160px;*/
	}  
} 

@media (max-width: 991px) {
	body {
    	overflow-x: hidden;
    	width: 100%;
	}

	header {
    	position: fixed !important;
	}

	#header_logo{
		float: left;
	}
	
	#searchform-header{
		position: fixed; 
		left: 50px; 
		right: 50px; 
		width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
	#main{
		/*margin-top: 100px;*/
	}
	#user_info{
		display: none;
	}

	.menu_vertical_mobile, #search_block_top, .header_user_info, #mobil_blockcart{
		border-right : none;
	}

	.content-search.pad-container {
    	margin-left: 0 !important;
	}

	.search .header-container , .single .header-container{
		margin-top: -45px;
	}

	#breadcrumbs-container , .content-search.no-results .searchform{
		display: none;
	}

	.search  #content-masonry {
		margin-top: 250px;
	}

	.search  .entry-summary p{
		display: none;
	}

}

.toggle_menu_mobile, #search_block_top_mobile{
	display: none !important;
}

